html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}

body ::-webkit-scrollbar-track #scrollbar-dark{
  background-color:  pink !important;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background: rgb(172, 171, 171); 
  /* background: #f9ee77;  */
  /* border: 1px solid #F1E4E8; */
  border-radius: 8px;
}

:root{
  /* scrollbar-color: #7D7D7D !important; */
  scrollbar-width: thin !important;
}

.menu-link {
  transition: color 0.1s ease;
}



/* ---------mobile nav--------------- */
.hamburger-menu {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 32px;
  width: 32px;
  cursor: pointer;
  transition: transform 0.2s;
}

.hamburger-menu:hover {
  transform: translate(4px, -4px);
}

.bar-top,
.bar-middle,
.bar-bottom {
  height: 2px;
  background-color: black;
  border-radius: 1px;
  margin: 3px 0;
  transform-origin: left;
  transition: all 0.5s;
}

.bar-top-changed {
  transform: rotate(47deg);
  background-color: black;
  height: 2px;
  border-radius: 1px;
  margin: 3px 0;
  transform-origin: left;
  transition: all 0.5s;
}

.bar-middle-changed {
  transform: translateX(1rem);
  opacity: 0;
  background-color: black;
  height: 2px;
  border-radius: 1px;
  margin: 3px 0;
  transform-origin: left;
  transition: all 0.5s;
}

.bar-bottom-changed {
  transform: rotate(-47deg);
  background-color: black;
  height: 2px;
  border-radius: 1px;
  margin: 3px 0;
  transform-origin: left;
  transition: all 0.5s;
}

/* ------------------------------------------ */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 96%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

